*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #84BCDA;
}

.happy-face {
    height:500px;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-50px);
    }
    50%{
        transform: scale(1.30) rotate(-260deg);
    }
}

.st1 {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}